// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.editableBox {
    width: 200px;
    height: 30px;
}

.timeTextBox {
    width: 180px;
    margin-left: -200px;
    height: 25px;
    border: none;
}
